<br>    
<form action="/api/sessions/login" method="POST">
    <div class="upload__container">
        <h1>Login</h1> <br>
        <div class="upload__container--title">
            <input type="email" name="email" Placeholder="Email" equired>
        </div>

        <div class="upload__container--title">
            <input type="password" name="password" Placeholder="Password" required>
        </div>
        <div class="upload__container--button">
            <button  type="submit">Login</button></form>
            
            <a href='/api/sessions/github' class="button-link">
                <img src="/img/github-mark-white.png" alt="GitHub icon" class="icon">
                 Login with GitHub
            </a>

        </div>
        <br> <p>No tienes un usuario? <a href="/register">Regístrate</a></p>    
    </div>



{{!-- <a href="/api/sessions/github"></a> --}}