<h1>
   Contacto 
</h1>

<form action="/enviarmensaje" method="POST">
    <label for="email">Correo Electrónico</label>
    <input type="text" name="email" required>
    <label for="message">Mensaje</label>
    <textarea name="message" id="" cols="30" rows="10" required></textarea>
    <button>Enviar</button>
</form>