<h1>Desafío 4</h1>
<h2>Lista de productos mediante WebSockets</h2>

<ol id="lista-productos"></ol>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.min.js"></script>
<script src="js/main.js"></script>


