
<div class="container">
    <h2>Registro de nuevo usuario</h2>       <br>

    <form action="/api/users" method="post">
        <label for="">Nombre:</label>
        <input type="text" name="first_name" required>
        <br><br>
        <label for="">Apellido:</label>
        <input type="text" name="last_name" required>
        <br><br>
        <label for="">Email:</label>
        <input type="email" name="email" required>
        <br><br>
        <label for="">Password:</label>
        <input type="text" name="password" required>
        <br><br>
        <label for="">Edad:</label>
        <input type="text" name="age" required>
        <br><br>

        <button type="submit">Registrar</button>
    </form>
</div>